#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include "behaviors.dtsi"

#define ___ &trans
#define DFLT 0
#define SYMB 1
#define IDKM 2
#define GAME 3
#define MNGR 4

/ {

keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                  ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    &kp EQUAL            &kp N1               &kp N2               &kp N3               &kp N4               &kp N5               &mo SYMB                                                                                                                                                &mo MNGR             &kp N6                &kp N7              &kp N8               &kp N9               &kp N0               &kp MINUS
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                  ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp DEL              &kp Q                &kp W                 &kp E               &kp R                &kp T                &tog GAME                                                                                                                                               ___                  &kp Y                &kp U                &kp I                &kp O                &kp P                &kp BSLH
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp ESC              &hm_l LGUI A         &hm_l LALT S         &hm_shift_l LSHFT D  &hm_l LCTRL F        &hm_l LC(LALT) G     &kp LC(LA(LGUI))                            &kp LCTRL            &kp LALT               &kp LC(LA(LGUI))     &kp LC(LALT)                               &kp LC(LA(LGUI))     &hm_r LC(LALT) H     &hm_r RCTRL J        &hm_shift_r RSHFT K  &hm_r LALT L         &hm_r RGUI SEMI      &kp SQT
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯ ╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp LSHFT            &kp Z                &kp X                &kp C                &lt_l SYMB V         &lt_l IDKM B                                                                          &kp HOME               &kp PG_UP                                                                            &lt_r IDKM N         &lt_r SYMB M         &kp COMMA            &kp DOT              &kp FSLH             &kp RSHFT
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                      │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &mo SYMB            &kp GRAVE             &kp CAPS              &kp LEFT             &kp RIGHT                                                       &kp SPACE            &kp BSPC             &kp END                &kp PG_DN            &kp TAB              &kp ENTER                                                       &kp UP               &kp DOWN             &kp LBKT             &kp RBKT             &mo SYMB      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                           ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };

        layer_fn {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                 ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    &kp EQUAL            &kp F1               &kp F2               &kp F3               &kp F4               &kp F5               ---                                                                                                                                                    ---                  &kp F6               &kp F7               &kp F8               &kp F9               &kp F10              &kp F11  
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                 ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  &kp LBRC             &kp RBRC             &kp TILDE            ---                                                                                                                                                    ___                  ---                  &kp N7               &kp N8               &kp N9               &kp MINUS            &kp F12 
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  &kp LPAR             &kp RPAR             &kp EQUAL            ---                                        ---                  ---                    ---                  ---                                        ---                  ---                  &kp N4               &kp N5               &kp N6               &kp PLUS             ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  &kp LBKT             &kp RBKT             ---                                                                                  ---                    ---                                                                                  ---                  &kp N1               &kp N2               &kp N3               &kp ENTER            &kp ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                                                             ---                  ---                  ---                    ---                  ---                  ---                                                             &kp N0               &kp EQUAL            &kp DOT              ---                  ---      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };

// wtf else goes on this layer? i only need arrows for a couple things and the thumb arrows are goofy ahh
        arrows_and_stuff_layer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                 ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    ---                  ___                  ___                  ___                  ___                  ___                  ---                                                                                                                                                    ---                  ___                  ___                  ___                  ___                  ___                  ___      
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                 ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                                                                                                                                    ___                  ---                  ---                  ---                  ---                  ---                  ---     
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                        ---                  ---                    ---                  ---                                        ---                  &kp LEFT             &kp DOWN             &kp UP               &kp RIGHT            ---                  ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                                                                                  ---                    ---                                                                                  ---                  ---                  ---                  ---                  ---                  ---        
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                                                             ---                  ---                  ---                    ---                  ---                  ---                                                             ---                  ---                  ---                  ---                  ---      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };

// game layer just gets rid of home row mods because theyre cancer for playing games
        game_leyer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                 ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    ---                  ___                  ___                  ___                  ___                  ___                  ---                                                                                                                                                    ---                  ___                  ___                  ___                  ___                  ___                  ___      
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                 ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                                                                                                                                    ___                  ---                  ---                  ---                  ---                  ---                  ---     
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  &kp A                &kp S                &kp D                &kp F                ---                  ---                                        ---                  ---                    ---                  ---                                        ---                  &kp J                &kp K                &kp L                &kp SEMI             ---                  ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                                                                                  ---                    ---                                                                                  ---                  ---                  ---                  ---                  ---                  ---        
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                                                             ---                  ---                  ---                    ---                  ---                  ---                                                             ---                  ---                  ---                  ---                  ---      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };

// meta layer for keyboard management
        manager_layer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                 ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    ---                  &bt BT_SEL 0         &bt BT_SEL 1         &bt BT_SEL 2         &bt BT_SEL 3         &bt BT_SEL 4         ---                                                                                                                                                    ---                  ___                  ___                  ___                  ___                  ___                  ___      
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                 ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                                                                                                                                    ___                  ---                  ---                  ---                  ---                  ---                  ---     
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  &kp A                &kp S                &kp D                &kp F                ---                  &bootloader                                ---                  ---                    &bt BT_CLR           ---                                        &bootloader          ---                  ---                  ---                  ---                  ---                  ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                                                                                  ---                    ---                                                                                  ---                  ---                  ---                  ---                  ---                  ---        
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                                                             ---                  ---                  ---                    ---                  &bl BL_TOG           &rgb_ug RGB_TOG                                                 &bl BL_DEC           &bl BL_INC           ---                  ---                  ---      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };


// empty layer for easy copy pasta for new layer
        empty_layer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮                                                                                                                                 ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    ---                  ___                  ___                  ___                  ___                  ___                  ---                                                                                                                                                    ---                  ___                  ___                  ___                  ___                  ___                  ___      
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤                                                                                                                                 ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                                                                                                                                    ___                  ---                  ---                  ---                  ---                  ---                  ---     
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────                      ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮                     ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                  ---                                        ---                  ---                    ---                  ---                                        ---                  ---                  ---                  ---                  ---                  ---                  ---    
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────╯╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                  ---                                                                                  ---                    ---                                                                                  ---                  ---                  ---                  ---                  ---                  ---        
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │                     ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ---                  ---                  ---                  ---                  ---                                                             ---                  ---                  ---                    ---                  ---                  ---                                                             ---                  ---                  ---                  ---                  ---      
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯                                          ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
            >;
        };
    };
};
