#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include "includes/behaviours_homerow_mods.dtsi"

/* definitions for mouse layer */
#include "mouse.dtsi"

#define ___ &trans
#define DFLT 0
#define SYMB 1
#define TSTR 2

/ {
    /* remove unused keys from layout and move thumb cluster to bottom */
    chosen {
        zmk,matrix_transform = &urobs_transform;
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    &kp EQUAL            &kp N1               &kp N2               &kp N3               &kp N4               &kp N5               &mo 1                  &mo 1                &kp N6                &kp N7              &kp N8               &kp N9               &kp N0                &kp MINUS
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp DEL              &kp Q                &kp W                 &kp E               &kp R                &kp T                &mo 1                  &mo 2                &kp Y                 &kp U               &kp I                &kp O                &kp P                 &kp BSLH
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp ESC              &hm_l LGUI A         &hm_l LALT S         &hm_shift_l LSHFT D  &hm_l LCTRL F        &kp G                &none                  &none                &kp H                &hm_r RCTRL J        &hm_shift_r RSHFT K  &hm_r LALT L         &hm_r RGUI SEMI       &kp SQT
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &kp LSHFT            &kp Z                &kp X                 &kp C               &lt_l SYMB V         &kp B                                                            &kp N                &lt_r SYMB M         &kp COMMA            &kp DOT              &kp FSLH              &kp RSHFT
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                                           ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    &mo 1                &kp GRAVE            &kp CAPS              &kp LEFT             &kp RIGHT                                                                                                  &kp UP              &kp DOWN             &kp LBKT             &kp RBKT              &mo 2
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                                                                     ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
//                                                                                                          ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮
                                                                                                             &kp LCTRL            &kp LALT                &kp LGUI             &kp RCTRL
//                                                                                     ╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮
                                                                                         &kp SPACE           &kp BSPC             &kp HOME                &kp PG_UP           &kp TAB               &kp ENTER
//                                                                                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │
                                                                                                                                  &kp END                 &kp PG_DN
//                                                                                     ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯
            >;
        };

        layer_fn {
            bindings = <
// ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────┬────────────────────╮
    ___                  &kp F1               &kp F2               &kp F3               &kp F4               &kp F5               ___                    ___                  &kp F6               &kp F7               &kp F8               &kp F9               &kp F10              &kp F11
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ___                  ___                  ___                  &kp LBRC             &kp RBRC             &kp TILDE            ___                    ___                  ___                  &kp N7               &kp N8               &kp N9               &kp MINUS            &kp F12
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ___                  ___                  ___                  &kp LPAR             &kp RPAR             &kp EQUAL            ___                    ___                  ___                  &kp N4               &kp N5               &kp N6               &kp PLUS             ___
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┴────────────────────┤ ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ___                  ___                  ___                  &kp LBKT             &kp RBKT             ___                                                              ___                  &kp N1               &kp N2               &kp N3               &kp ENTER            ___ 
// ├────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────╯                                           ╰────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┼────────────────────┤
    ___                  ___                  ___                  U_MS_L                  ___                                                                                                        &kp N0               ___                  &kp DOT              ___                  ___
// ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯                                                                                     ╰────────────────────┴────────────────────┴────────────────────┴────────────────────┴────────────────────╯
//                                                                                                          ╭────────────────────┬────────────────────╮ ╭────────────────────┬────────────────────╮
                                                                                                             ___                  ___                    ___                  ___
//                                                                                     ╭────────────────────┼────────────────────┼────────────────────┤ ├────────────────────┼────────────────────┼────────────────────╮
                                                                                         ___                 ___                  ___                    ___                  ___                   ___
//                                                                                     │                    │                    ├────────────────────┤ ├────────────────────┤                    │                    │
                                                                                                                                  ___                    ___
//                                                                                     ╰────────────────────┴────────────────────┴────────────────────╯ ╰────────────────────┴────────────────────┴────────────────────╯
            >;
        };
    };

};
